@import "tailwindcss";

@theme {
  --color-primary: #151194;
  --color-primary-dark: #0d0a62;
  --color-dark: #101828;
  --color-secondary: #4a5565;
  --color-border: #e4e7ec;
  --color-surface: #f9fafb;
  --color-white: #ffffff;
}
